/**
  * Colors from:
  * https://ais.anexia-it.com/display/QI/Anexia+Colors
  */

  $anx-primary-blue: #003CA6;
  $anx-primary-green: #77BC1F;
  $anx-primary-grey-dark: #414141;
  $anx-primary-grey-light: #D7D7D7;
  $anx-second-grey-light: #B5B5B5;
  $anx-primary-white: #ffffff;
  
  $anx-dark-blue: #002D6E;
  $anx-dark-green: #64A50A;
  $anx-dark-grey-dark: #2D2D2D;
  $anx-dark-grey-light: #2D2D2D;
  
  $anx-light-blue: #285AB4;
  $anx-light-green: #A5D75F;
  $anx-light-grey-dark: #555555;
  $anx-light-grey-light: #E6E6E6;
  
  $anx-lightest-blue: #4B78C3;
  $anx-lightest-green: #C3E187;
  $anx-lightest-grey-dark: #686868;
  $anx-lightest-grey-light: #F5F5F5;
  
  $anx-table-border: #DDDDDD;
  $anx-table-header-background: #ECECEC;
  $anx-table-row-background: #F8F8F8;
  $anx-table-row-hover: $anx-table-row-background;
  
  $anx-black-transparet: #00000080; //80% transparent
  
  $anx-error: #d50000;
  $anx-error-light: #fef7f7;
  $anx-primary-green-light: #FBFDF8;

  $screen-xs: 568px; 
  $screen-sm: 768px;
  $screen-md: 992px;
  $screen-lg: 1200px;

  $anx-content-spacing: 40px;
  $form-components-spacing: 30px;
  $anx-paragraph-spacing: 40px;
  $anx-title-spacing: 20px;
  
  $anx-font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  
  :export {
    defaultButtonColor: $anx-primary-green;
    defaultButtonColorDisabled: $anx-lightest-green;
    titleSpacing: $anx-title-spacing;
  }