@import './variables.scss';

body,  #app {
  font-family: $anx-font-family;
  font-weight: normal;
}

/** Normal font settings */
@font-face {
  font-family: 'Fira Sans';
  src: url('../../assets/fonts/FiraSans-ExtraBold.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../../assets/fonts/FiraSans-Bold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../../assets/fonts/FiraSans-SemiBold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../../assets/fonts/FiraSans-Medium.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../../assets/fonts/FiraSans-Regular.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../../assets/fonts/FiraSans-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../../assets/fonts/FiraSans-ExtraLight.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../../assets/fonts/FiraSans-Thin.ttf') format('truetype');
  font-weight: 200;
}

/** Italic font settings */
@font-face {
  font-family: 'Fira Sans';
  src: url('../../assets/fonts/FiraSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../../assets/fonts/FiraSans-BoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../../assets/fonts/FiraSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../../assets/fonts/FiraSans-MediumItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../../assets/fonts/FiraSans-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../../assets/fonts/FiraSans-LightItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../../assets/fonts/FiraSans-ExtraLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../../assets/fonts/FiraSans-ThinItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}